.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/xrVDYZRGdw4/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutimg {
    height: 13rem;
    opacity: 0;
}

.sae {
    opacity: 0;
}

.githubcatto {
    height: 12rem;
}

body {
    opacity: 0;
    transition: 300ms opacity;
}

.project {
    opacity: 0;
}